body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: white;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/back_giant_white_square.png'); /* Replace 'background-image.jpg' with your image file */
    background-size: cover;
    z-index: -1; /* Ensure the background is behind other content */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    padding-right: 1em;
}

.card {
    background-color: #6235C9;
    border-radius: 20px;
    border: 5px solid black;
    padding: 20px;
    margin-bottom: 20px;
}

.sticky{
    position: sticky;
    top: 0;
}

.sticky-header {
    background-color: #6235C9; /* Change this to your desired header background color */
    color: #fff; /* Change this to your desired header text color */
    /* padding-right: ; */
    width: 100%;
    z-index: 1000;
    border-radius: 50px;
    border: 5px solid black;
    display: flex;
    justify-self: center; /* Ensure the header appears above other content */
    text-align: center;
    align-content: center;
    justify-content: space-between;
    overflow: hidden;
    max-height: 200px;
    align-items: center;
}

.logo{
    height: 100px;
    background-color: black;
    border-radius: 1px;
}

.black{
    color: black;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
